In [1]:
import pandas as pd

In [2]:
df_ein_remap_ntee_2018 = pd.read_excel("../../output/df_ein_remap_ntee_2018.xlsx")

In [3]:
df_ein_remap_ntee_2018

        Unnamed: 0        EIN Remap_NTEE
0                0  752219984          A
1                1  752219984          L
2                2  752219984          S
3                3   66334270          A
4                4  836036074          B
...            ...        ...        ...
919221      919221  465292259          G
919222      919222  465292259          H
919223      919223  465292259          T
919224      919224  823754494          P
919225      919225  823754494          T

[919226 rows x 3 columns]

In [5]:
hdr = {
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
    "Accept-Charset": "ISO-8859-1,utf-8;q=0.7,*;q=0.3",
    "Accept-Encoding": "none",
    "Accept-Language": "en-US,en;q=0.8",
    "Connection": "keep-alive",
}
df_bmf_201812 = pd.read_csv(
    "https://nccs-data.urban.org/dl.php?f=bmf/2018/bmf.bm1812.csv", storage_options=hdr
)

/tmp/ipykernel_283100/2539915811.py:9: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bmf_201812 = pd.read_csv(

In [11]:
df_ein_remap_ntee_2018 = df_ein_remap_ntee_2018.merge(
    df_bmf_201812, on="EIN", how="left"
)

In [25]:
df_ntee_c = df_ein_remap_ntee_2018[df_ein_remap_ntee_2018.Remap_NTEE == "C"][
    ["EIN", "Remap_NTEE", "NTEE1"]
]

In [33]:
df_ntee_c.drop_duplicates(subset=["EIN", "Remap_NTEE"], inplace=True)

In [48]:
# Show raw counts and by column percentages

df_c_stats = pd.concat(
    [
        df_ntee_c.NTEE1.value_counts(),
        # Show percentages with 2 decimal places and add a % sign
        df_ntee_c.NTEE1.value_counts(normalize=True).apply(
            lambda x: f"{round(x*100, 2)}%"
        ),
    ],
    axis=1,
)

In [50]:
df_c_stats

       count proportion
NTEE1
C       7631     47.95%
S       1307      8.21%
N       1250      7.86%
D       1073      6.74%
T        980      6.16%
A        617      3.88%
B        573       3.6%
L        341      2.14%
W        322      2.02%
P        306      1.92%
K        249      1.56%
Q        235      1.48%
U        181      1.14%
O        142      0.89%
X        129      0.81%
J        116      0.73%
E         80       0.5%
M         78      0.49%
R         59      0.37%
I         53      0.33%
G         50      0.31%
V         34      0.21%
Y         33      0.21%
H         25      0.16%
Z         25      0.16%
F         24      0.15%

In [49]:
df_c_stats.to_csv("../../output/df_c_stats.tsv", sep="\t")